<!DOCTYPE html>
<html>
<head>
	<title>1712802</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/stylesheets/dataTables/dataTables.bootstrap.css" rel="stylesheet">
	<!-- DataTables Responsive CSS -->
	<link href="/stylesheets/dataTables/dataTables.responsive.css" rel="stylesheet">
</head>
<body>
	<div class="row" style="padding: 20px">
		<div class="col-lg-5">
			<input type="text" class="form-control" placeholder="username" required="" name="username">
		</div>
		<div class="col-lg-5">
			<input type="email" class="form-control" placeholder="email" required="" name="email">
		</div>
		<div class="col-lg-2">
			<input type="submit" class="create-user-btn form-control btn btn-primary" value="Thêm">
		</div>
	</div>
	<div id="page-wrapper">
		<div class="container-fluid">
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Danh sách tài khoản
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover" id="dataTables-example">
									<thead>
										<tr>
											<th>Username</th>
											<th>Email</th>
											<th>Created at</th>
										</tr>
									</thead>
									<tbody class="list">
										<% users.forEach(function(user,i) {
											%>
											<tr class="<%if (i%2==1) { %>odd <%} else {%>even<%} %>gradeX">
												<td><%=user.username%></td>
												<td><%=user.email%></td>
												<td><%=user.created%></td>
											</tr>
											<%

										}) %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/dataTables/jquery.dataTables.min.js"></script>
	<script src="/javascripts/dataTables/dataTables.bootstrap.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#dataTables-example').DataTable({
				responsive: true
			});

			$('.create-user-btn').click(function(){
				var username = $('input[name="username"]').val().trim();
				var email = $('input[name="email"]').val().trim();
				if(username===""||email===""){
					alert('Dữ liệu không hợp lệ');
					return false;
				}
				else{
					$.ajax({
						type:'post',
						url:'/create-user',
						data:{username:username,email:email},
						success:function(res){
							location.reload();
							return false;
						},
						error:function(xhr, textStatus, error){
							alert('Đã có lỗi xảy ra. Vui lòng quay lại sau');
						}
					})
				}
			})
		});
	</script>
</body>
</html>
